body {
    font-family:sans-serif;
    background-color:#5C1F00;
    color: #FFCC00;
}
h1{
    font-size: 54px;
}
h2{
    font-size: 48px;

}
h3{
    font-size: 36px;

}
p{
    font-size: 22px;

}